@import './base/normalize';
@import './utils/variables';
@import './utils/mixins';
@import './base/defaults';
@import './components/logo';
@import './components/page-header';

          
    /* hero */
    
    .hero {
        max-width: 1600px;
        margin-right:auto;
        margin-left: auto;
        padding-top: 199px;
        padding-bottom: 201px;
        margin-top: 0px;
        margin-bottom: 0px;
        height: 600px;
        text-align: center;
        background-image: linear-gradient(to right,
        $bg-hero-color, $bg-hero-color
    ),
    url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    text-align: center; 
    }
    
    .hero .hero-title {
        margin-bottom: 40px;
        margin-right:auto;
        margin-left: auto;
        color: $hero-100pr; 
        font-weight: 900; 
        font-size: 44px; 
        line-height: 1.36; 
        width: 696px;
        letter-spacing: 0.06em;
    }
    
    /* section */
    .section {
        padding-top: 94px;
        padding-bottom: 94px;
    }
    
    .feature-list,
    .about-us__list {
        display: flex;
        flex-wrap: wrap;
        
       
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
    }

    .feature-list__title {
        margin-top: 30px;
        margin-bottom: 10px;
    
        font-size: 14px; 
        line-height: 1.4;
    }


    .feature-list__items::before { 
    display: block;
    content: '';
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $primery-btn-color;
    
    }
    
    .feature-list__items:nth-child(1)::before {
        background-image: url("../images/antenna.svg");
    }
    
    .feature-list__items:nth-child(2)::before {
        background-image: url("../images/clock.svg");
    }
    
    .feature-list__items:nth-child(3)::before {
        background-image: url("../images/diagram.svg");
    }
    
    .feature-list__items:nth-child(4)::before {
        background-image: url("../images/astronaut.svg");
    }
    
    
    .feature-list__items {
    width: 270px;
    }
    
    .feature-list__items +.feature-list__items {
    margin-left: 30px;
}

    // про нас
    
   .about-us__pic {
        position: relative;
        width: 370px;
    }
    
    .about-us__list .about-us__pic + .about-us__pic {
        margin-left: 30px;
    }

    .about-us {
        padding-bottom: 94px;
    }
    .section__title,
    .feature-list__title,
    .section .item {color: $title-text-color;}
    
    
        .section__title {
            margin-top: 0;
            margin-bottom: 50px;
            font-size: 36px; 
            line-height: 1.17;
            text-align: center;
            
        }
        .section__title--client {
            padding-top: 94px;
        }
        .feature-list__text {
            margin-top: 0;
            margin-bottom: 0;
            
            font-weight: 400; 
            font-size: 14px; 
            line-height: 1.71;
        }
        
        .team__name {
            margin-top: 0;
            margin-bottom: 10px;
            
            font-weight: 500; 
            font-size: 16px; 
            line-height: 1.9;}
            
            .team__profession {
                padding-top: 0;
                padding-bottom: 0;
                margin-bottom: 16px;
                margin-top: 0;
                
                font-size: 16px; 
                line-height: 1.9;
            }

            .about-us__subtitle {  
                position: absolute;
                width: 370px;
                height: 70px;
                padding: 27px 0;
        
            bottom: 0;
            margin-top: 0;
            margin-bottom: 0;
            font-weight: 700;
            font-size: 14px; 
            line-height: 1.17;
            text-transform: uppercase;
            text-align: center;
        
            color: $hero-100pr;
            background-color: $feature-list-bg-color;    
        }
            
            .section__team {
                padding-top: 94px;
                padding-bottom: 94px;
                background-color: $primery-btn-color;
            }
            
            .team__list .team__persons {
                flex-basis: calc(100% / 4 - 30px);
                margin-left: $card-grid;
            }
            .team__list {
                margin-left: calc(-1 * $card-grid);
                display: flex;
                flex-wrap: wrap;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
        
    }

    .team__info {
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: $hero-100pr;

        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        cursor: pointer;
    }
    
    /* social__icons */
    .social__icons {
        display: flex;
        justify-content: center;
        padding-left: 0;
        color: var(--primary-text-color);
    }
    .social__icons .social__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        @include transition(background-color);
      
    }
    .social__icons .social__item + .social__item {
        margin-left: 10px;
    }
    
    .social__element {
        fill: $social-icons;
        @include transition(color);

    }
    .social__item:hover .social__element{
        fill: $hero-100pr;
    }
    
    .social__icons .social__item:hover,
    .social__icons .social__item:focus {
        background-color: $akcent-color;
    }
    .icon-s.footer-li {
        background-color: $white-text-color-1;
        fill: $hero-100pr;
    }
    .leter-f {
        fill: $hero-100pr;
    }
    /* .team__list .link {
        margin-bottom: 30px;
    } */
    
    /* .team__list .team__persons + .team__persons {
    margin-left: 30px;
    } */
    
    /* Постоянные клиенты */
    
    .section__client {
    padding-bottom: 97px;
    }
    
    .client__title {
     padding: 0;
      margin: 50px auto 0;
      display: flex;
      justify-content: space-between;
      color: $social-icons;
    }
    
    .client__link {
        color: $social-icons;
    
    }
    .client__wraper {
        width: 170px;
      height: 90px;
      border: 1px solid currentColor;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include transition(color);
      
    }
    
    .client__icon {
        fill: currentColor;
    }
    
    
    .client__wraper:hover,
    .client__wraper:focus {
    color: $akcent-color;
    }
    /* footer */
    
    .footer {
        display: flex;
        justify-content: center;
        background: $backgraund;
    
    }
    .footer-ul {
        margin: 20px 0 0;
      }
    
    .footer .logo, 
    .footer .item-s {
        color: $hero-100pr;
    }
    
    .adres .item {
        color: $white-footer-60pr;
        @include transition(color);
    }
    
    .adres .item:hover,
    .adres .item:focus {
        color: $hero-100pr;
    }
    .footer .contact {
        display: block;
        flex-wrap: wrap;
        padding-left: 0;
        margin-top: 20px;
    width: 231px;
        font-weight: normal; 
        font-size: 14px; 
        line-height: 1.71;
    }
    .contact .links {
        display: inline-block;
        flex-wrap: wrap;
        margin-top: 9px;
    }
    .footer .container {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .footer-title {
        display: block;
        font-style: normal;
      font-weight: 700;
      margin-bottom: 20px;
        padding-left: 0;
        font-size: 14px;
        line-height: 1.14;
    
        color: $hero-100pr;
    text-transform: uppercase;
    }
    
    .footer-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
        width: 206px;
      margin: 12px 93px 40px 70px;
    }
    
    .foot-div {
        display: flex;
        align-items: baseline;
    }
    
    /* footer e-mail */
    .footer-form {
        display: flex;
    }
    
    .form-title {
        font-style: normal;
      font-weight: 700;
      margin-bottom: 20px;
        padding-left: 0;
        font-size: 14px;
        line-height: 1.14;
        color: $hero-100pr;
       text-transform: uppercase;
    }
    
     .sign-form {
         display: flex;
     }
    .email-footer {
    width: 358px;
    
    outline: none;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    line-height: 20px;
    font-family: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    color: $hero-100pr;
    
    @include transition(border-color);    
    }
     
    .email-footer:focus,
    .email-footer:hover {
        border-color: $modal-bg-btn;
    }
    
    .leter-btn {
        @include vertically-centered;

    right: 28px;

    /* padding-left: 10px; */
    
    fill: $hero-100pr;
    }
    /* button */
    .button {
        border-radius: 4px;
        padding: 10px 32px;
        border: 1px solid transparent;
    
        color: $hero-100pr; 
        background-color: $akcent-color; 
        
        font-family: inherit; 
        font-weight: 700; 
        font-size: 16px; 
        line-height: 1.87; 
        letter-spacing: 0.06em;
        align-items: center;
        cursor: pointer;
    }
    
    .button-footer {
        display: flex;
        width: 200px;
        height: 50px;
        position: relative;
        padding-top: 10px;
        padding-right: 62px;
        padding-bottom: 10px;
        padding-left: 29px;
        font-family: inherit;
    margin-left: 12px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border-radius: 4px;
    align-items: center;
    border: 1px solid transparent;
    
    color: $hero-100pr;
    background-color: $akcent-color;
    
    box-shadow: $shadow-button;
    cursor: pointer;
    @include transition(background-color);

    }
    
    .button-footer:focus,
    .button-footer:hover {
        background-color: $modal-bg-btn 
    }
    .title-btn {
        justify-content: center;
        padding-top: 93px;
        padding-bottom: 34px;
        display: flex;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    }
    
    .title-btn .btn-btn + .btn-btn {
        margin-left: 8px;
    }
    .btn {
        display: inline-block;
        border-radius: 4px;
        padding: 6px 22px;
        border: 1px solid transparent;
    
        color: $title-text-color; 
        background: $primery-btn-color; 
        
        font-family: inherit; 
        font-weight: 500; 
        font-size: 16px; 
        line-height: 1.62;
        text-align: center;
    
        transition: background-color $animation,
        color 250ms $animation;
    }
    
    .btn:hover,
    .btn:focus {
        color: $hero-100pr; 
        background-color: $akcent-color;
    }
    
    /* portfolio */
    
    /* container */
    .title-flex {
        margin-right: auto;
       margin-left: auto;
        padding-right: 15px;
        padding-bottom: 94px;
        padding-left: 15px;
        width: 1200px;
    
    }
    
    .card-contents .title {
        margin-top: 0;
        margin-bottom: 4px;
        width: 322px;
    
        color: $title-text-color;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    }
    .card-set {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-top: calc(-1 * $card-grid);
        margin-bottom: 0;
        margin-left: calc(-1 * $card-grid);
    }
    .card-set .grid {
        flex-basis: calc(100% / 3 - $card-grid);
        margin-top: $card-grid;
        margin-left: $card-grid;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    }
    
    .card-contents {
        padding: 20px 24px;
    }
     
    .caption .title {
        margin-top: 20px;
    
        color: $title-text-color; 
        font-size: 18px; line-height: 2;
        letter-spacing: 0.06em;
    }
    
    .caption .list {
        margin-top: 0;
        margin-bottom: 20px;
    
        font-weight: 400; 
        font-size: 16px; 
        line-height: 1.87;
    }
    
    /* overlay-portfolio */
    .card-thumb {
        position: relative;
        overflow: hidden;
    }
    
    .card-overlay {
        position: absolute;
       
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 63px 24px;  
    background-color: $card-bg-color;
    
    /* opacity: 0;
    transition: opacity $animation; */
    
    transform: translateY(100%);
    @include transition(transform);
    
    }
    
    .card:hover .card-overlay {
        transform: translateX(0);
    }
    /* .card:hover .card-thumb::before {
        opacity: 1;
    } */
    
    .card-text {
        position: absolute;
        width: 322px;
        height: 168px;
        display: flex;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);    
    
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    
    color: $hero-100pr;
    
    opacity: 0;
    @include transition(opacity);
    }
    
    .card:hover .card-text,
    .card:focus .card-text {
        opacity: 1;
    }
    
    /* backdrop-hero */
    .backdrop-sign {
        position: fixed;
        top: 0;
        left: 0;
    
        width: 100%;
        height: 100%;
    
        background-color: $backdrop;
        
        opacity: 1;
        @include transition(opacity);
        
    }
    .backdrop-sign.is-hidden {
        opacity: 0;
        pointer-events: none;
        visibility: visible;
    }
    
    .backdrop-sign.is-hidden .modal-sign {
        transform: translate(-50%, -50%) scale(1.3);
    }
    .modal-sign {
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 40px;
        transform: translate(-50%, -50%) scale(1);
    
        min-width: 528px;
        max-height: 100vh;
    
        background-color: $hero-100pr;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
      
    }
    .modal-colose {
        position: absolute;
        top: 8px;
        right: 8px;
        padding: 5px;
        
        display: flex;
        border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      cursor: pointer;
      background-color: inherit;
    }
    
     .modal-colose:focus, 
     .modal-colose:hover {
        fill: $akcent-color;
    }
    
    /* оформлення модального вікна */
    .modal-title {
        margin-top: 0;
        margin-bottom: 12px;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        color: $title-text-color;
    }
    
    .signup-form .group {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
        }
    
    .signup-form .form-lable {
        display: flex;
            flex-direction: column;
    
        margin-bottom: 4px;
        font-family: inherit;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        cursor: pointer; 
    }
    
    .signup-form .form-input {
        width: 100%;
        font-family: inherit;
        margin: 0;
        padding: 11px 11px 11px 42px;
        width: 448px;
        
        
        cursor: pointer; 
    
        outline: none;
        border: 1px solid rgba(33, 33, 33, 0.2);
        box-sizing: border-box;
        border-radius: 4px;
        @include transition(background-color);
        
    }
    
    .signup-form .form-input:focus, 
    .signup-form .form-input:hover {
    border-color:  $akcent-color
    }
    
       .signup-form .input-wrapper {
           position: relative;
       }
    
       .signup-form .icon {
           @include vertically-centered;
           left: 12px;

        cursor: pointer; 
        @include transition(fill);
    }
    
    .signup-form .form-input:focus + .icon, 
    .signup-form .form-input:hover + .icon {
        fill: $akcent-color;
    }
    /* .input-wrapper .form-input:focus + .icon {
        fill: crimson;
    } */
    
    /* .input-wrapper.icon:focus,
    .input-wrapper .icon:hover {
        fill: crimson;
    } */
       /* .form-input:focus ~ .icon {
           fill: $akcent-color;
       } */
    
        .textarea-wrapper .form-input.comment {
        padding: 12px 16px;
        margin-bottom: 20px;
        }
    
        .textarea-wrapper .comment:hover::placeholder,
        .textarea-wrapper .comment:focus::placeholder {
            color: $akcent-color;
        }
    
        /* checkbox */
    
        .checkbox-wrapper {
           margin: 0 11px 30px 12px;
            
            /* text-align: center; */
        }
    
        .checkbox-wrapper .checkbox-lable {
        display: flex;
    
        align-items: center;
        font-family: inherit;
        font-size: 14px;
        line-height: 1.71;
        cursor: pointer;
    }
    
    .checkbox-lable .link {
        color: $akcent-color;
        text-decoration-line: underline;
        @include transition(color);
        
    }
     
    .checkbox-lable:focus .link,
    .checkbox-lable:hover .link {
    color: $modal-bg-btn;
    }
    
    .checkbox {
       appearance: none;
       -moz-appearance: none;
       -webkit-appearance: none;
       position: absolute;
    }
    
    .chackbox-icon {
        margin-right: 7px;
        border: 2px solid $logo-tekst;
        border-radius: 3px;
        fill: none;
        cursor: pointer;
        @include transition(background-color);
    }
    
    .checkbox:focus + .chackbox-icon {
    
    }
    
    .checkbox:checked + .chackbox-icon {
        border: none;
        background-color: $akcent-color;
        fill: $hero-100pr;
        opacity: 1;
    }
    
     .check-btn {
         display: flex;
    
         min-width: 200px;
         
         margin-right: auto;
         margin-left: auto;
         padding: 10px 55px;
         font-family: inherit;
         font-weight: 700;
         font-size: 16px;
         line-height: 1.87;
         letter-spacing: 0.06em;
    
         color: $hero-100pr;
         background-color: $akcent-color;
         box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
         border: transparent;
         border-radius: 4px;
         cursor: pointer;
         @include transition(background-color);
     }
    
     .signup-form:focus .check-btn,
     .signup-form:hover .check-btn {
         background-color: $modal-bg-btn; 
        }